body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff url("../image/bg/mac01.jpg") no-repeat fixed center / cover;
}

.overlay {
    position: absolute;
    min-height: 100%;  
    width: 100%; 
    background-color: rgba(161, 2, 253, 0.8); 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

header { 
    flex-grow: 0;
    text-align: center; 
}

.avatar {
    margin: 20px 15px 20px 15px;
    height: auto;
    width: 170px;
    border-radius: 50%;
    border: 6px solid #750099;
    background-color: #ffffff;
    padding: 2px;
    transform: rotate(-12deg)
}

.header01 { margin: 0px 15px 0px 15px; }

.header02 { margin: 15px 15px 0px 15px; }

.header03 { margin: 20px 15px 0px 15px; }

.font01 {
    font-family: 'Goldman', cursive;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #ffffff; 
}

.font02 {
    font-family: 'Goldman', cursive;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #ffffff; 
}

.font03 {
    font-family: 'Goldman', cursive;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #ffffff;
}

.div_contact {
    margin: 20px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    width: 100%;
}

.email_link { color: #ffffff; }

.email_link:visited { color: #ffffff; }

.div_icons { margin: 50px 0px 50px 0px; }

.link01 { display: inline-block; }


.icon01 {
    margin: 15px 15px 15px 15px;
    height: auto;
    width: 70px;
    transition: transform .7s;
}

.icon01:hover { transform: scale(1.5); }

footer { 
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.copyright {
    margin: 0px 15px 50px 15px;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .avatar { 
        width: 270px; 
        border: 10px solid #750099;
    }
    .font01 { font-size: 40px; }
    .font02 { font-size: 22px; }
    .font03 { font-size: 22px;}
    .icon01 { width: 100px; }
}


